<%- include('template/header', {tituloWeb: 'Página de Inicio'} ); %>

<body>
    <h1 class="text-primary"><%= titulo %></h1>
    <h2>Página de Inicio con EJS</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ducimus fuga corporis perspiciatis voluptatibus quae rem odio a expedita delectus sunt modi architecto, veniam magni omnis nobis commodi sapiente fugiat.</p>
</body>
</html>